<!DOCTYPE html>
<html lang="en">
  <head>
    <style></style>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Virtual Abhyas</title>
    <!-- swiper css link  -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />

    <!-- font awesome cdn link  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style2.css" />
  </head>
  <body>
    <!-- header section starts  -->

    <header class="header">
      <section class="flex">
        <!--  -->
        <a href="#home" class="logo">Virtual Abhyas</a>

        <nav class="navbar">
          <a href="#home">home</a>
          <a href="#about">about</a>
          <a href="#courses">courses</a>
          <a href="#live">live Class</a>
          <a href="#teachers">teachers</a>
          <a href="#reviews">reviews</a>
          <a href="#contact">contact</a>
        </nav>

        <div id="menu-btn" class="fas fa-bars"></div>
      </section>
    </header>

    <!-- header section ends -->

    <!-- home section starts  -->

    <section class="home" id="home">
      <div class="row">
        <div class="content">
          <img src="/css/images/LogoVa.png" alt="VirtuaL Abhyas" />
          <h3>Simplifying online <span>education</span></h3>

          <a href="#contact" class="btn">contact us</a>
        </div>

        <div class="image">
          <img src="/css/images/homg-img.svg" alt="" />
        </div>
      </div>
    </section>

    <!-- home section ends -->

    <!-- couter section stars  -->

    <section class="count">
      <div class="box-container">
        <div class="box">
          <i class="fas fa-graduation-cap"></i>
          <div class="content">
            <h3>10+</h3>
            <p>courses</p>
          </div>
        </div>

        <div class="box">
          <i class="fas fa-user-graduate"></i>
          <div class="content">
            <h3>100+</h3>
            <p>students</p>
          </div>
        </div>

        <div class="box">
          <i class="fas fa-chalkboard-user"></i>
          <div class="content">
            <h3>10+</h3>
            <p>teachers</p>
          </div>
        </div>

        <div class="box">
          <i class="fas fa-face-smile"></i>
          <div class="content">
            <h3>90%</h3>
            <p>satisfaction</p>
          </div>
        </div>
      </div>
    </section>

    <!-- couter section ends -->

    <!-- about section starts  -->

    <section class="about" id="about">
      <div class="row">
        <div class="image">
          <img src="/css/images/about-img.svg" alt="" />
        </div>

        <div class="content">
          <h3>why choose us?</h3>
          <p>
            We are a dedicated team of qualified teachers always for the
            students to fill the gap between the Standard Curriculum and the
            Level of education that is provided in the government Schools. We
            ensure this through different Means of coommunication Like Recorded
            Audio-Visual Materials , Live Classes , Doubt Resolving Support and
            Many More services as per the need of the students !
          </p>
          <a href="#contact" class="btn">contact us</a>
        </div>
      </div>
    </section>

    <!-- about section ends -->

    <!-- courses section starts  -->

    <section class="courses" id="courses">
      <h1 class="heading">our <span>courses</span></h1>

      <div class="swiper course-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide slide">
            <img src="/css/images/course-1.svg" alt="" />
            <h3>English Language</h3>
            <p>
              Let's learn English course from knowledgeable, real world
              instructors at Virtual Abhyas!
            </p>
            <div class="course_btn">
              <button
                class="btn"
                onclick="window.location.href = '/css/cp/coursePlayer.html';"
              >
                Start Course
              </button>
            </div>
          </div>

          <div class="swiper-slide slide">
            <img src="/css/images/course-2.svg" alt="" />
            <h3>Basic Mathematics</h3>
            <p>
              Let's learn Mathematics course from knowledgeable, real world
              instructors at Virtual Abhyas!
            </p>
            <div class="course_btn">
              <button
                class="btn"
                onclick="window.location.href = '/css/cp/coursePlayer.html';"
              >
                Start Course
              </button>
            </div>
          </div>

          <div class="swiper-slide slide">
            <img src="/css/images/course-3.svg" alt="" />
            <h3>Basic Science</h3>
            <p>
              Let's learn Science course from knowledgeable, real world
              instructors at Virtual Abhyas!
            </p>
            <div class="course_btn">
              <button
                class="btn"
                onclick="window.location.href = '/css/cp/coursePlayer.html';"
              >
                Start Course
              </button>
            </div>
          </div>

          <div class="swiper-slide slide">
            <img src="/css/images/course-4.svg" alt="" />
            <h3>Communication Skills</h3>
            <p>
              Let's learn Communication from knowledgeable, real world
              instructors at Virtual Abhyas!
            </p>
            <div class="course_btn">
              <button
                class="btn"
                onclick="window.location.href = '/css/cp/coursePlayer.html';"
              >
                Start Course
              </button>
            </div>
          </div>

          <div class="swiper-slide slide">
            <img src="/css/images/course-5.svg" alt="" />
            <h3>Social Studies</h3>
            <p>
              Let's learn Social Studies course from knowledgeable, real world
              instructors at Virtual Abhyas!
            </p>
            <div class="course_btn">
              <button
                class="btn"
                onclick="window.location.href = '/css/cp/coursePlayer.html';"
              >
                Start Course
              </button>
            </div>
          </div>

          <div class="swiper-slide slide">
            <img src="/css/images/course-6.svg" alt="" />
            <h3>Computer Skills</h3>
            <p>
              Let's learn some computer skills from knowledgeable, real world
              instructors at Virtual Abhyas!
            </p>
            <div class="course_btn">
              <button
                class="btn"
                onclick="window.location.href = '/css/cp/coursePlayer.html';"
              >
                Start Course
              </button>
            </div>
          </div>
        </div>

        <div class="swiper-pagination"></div>
      </div>
    </section>

    <!-- courses section ends -->

    <!-- LIVE CLASS  section STATS Here -->
    <section class="live" id="live">
      <h1 class="heading">LIVE <span> CLASS</span></h1>

      <div class="row">
        <div class="image">
          <img src="/css/images/quiz.jpeg" alt="" />
        </div>

        <div class="content">
          <h3>WANT TO GO LIVE ?</h3>
          <p>Go live and get expert support from our tutors</p>

          <a href="/mumble2-master/room.html" class="btn">GO LIVE</a>
          <!--MOTE LE YAHA WEBRTC HL XA WITH CHSNGE IN LINK OF CONTACT ma -->
        </div>
      </div>
    </section>

    <!-- LIVE CLASS section ends HEre -->

    <!-- teachers section starts  -->

    <section class="teachers" id="teachers">
      <h1 class="heading">expert <span>tutors</span></h1>

      <div class="swiper teachers-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide slide">
            <img src="/css/images/tutor-1.png" alt="" />
            <div class="share">
              <a href="#" class="fab fa-facebook-f"></a>
              <a href="#" class="fab fa-twitter"></a>
              <a href="#" class="fab fa-instagram"></a>
              <a href="#" class="fab fa-linkedin"></a>
            </div>
            <h3>Ram</h3>
          </div>

          <div class="swiper-slide slide">
            <img src="/css/images/tutor-2.png" alt="" />
            <div class="share">
              <a href="#" class="fab fa-facebook-f"></a>
              <a href="#" class="fab fa-twitter"></a>
              <a href="#" class="fab fa-instagram"></a>
              <a href="#" class="fab fa-linkedin"></a>
            </div>
            <h3>Manshi</h3>
          </div>

          <div class="swiper-slide slide">
            <img src="/css/images/tutor-3.png" alt="" />
            <div class="share">
              <a href="#" class="fab fa-facebook-f"></a>
              <a href="#" class="fab fa-twitter"></a>
              <a href="#" class="fab fa-instagram"></a>
              <a href="#" class="fab fa-linkedin"></a>
            </div>
            <h3>Pitambar</h3>
          </div>

          <div class="swiper-slide slide">
            <img src="/css/images/tutor-4.png" alt="" />
            <div class="share">
              <a href="#" class="fab fa-facebook-f"></a>
              <a href="#" class="fab fa-twitter"></a>
              <a href="#" class="fab fa-instagram"></a>
              <a href="#" class="fab fa-linkedin"></a>
            </div>
            <h3>Priya</h3>
          </div>

          <div class="swiper-slide slide">
            <img src="/css/images/tutor-5.png" alt="" />
            <div class="share">
              <a href="#" class="fab fa-facebook-f"></a>
              <a href="#" class="fab fa-twitter"></a>
              <a href="#" class="fab fa-instagram"></a>
              <a href="#" class="fab fa-linkedin"></a>
            </div>
            <h3>Sanjay</h3>
          </div>

          <div class="swiper-slide slide">
            <img src="/css/images/tutor-6.png" alt="" />
            <div class="share">
              <a href="#" class="fab fa-facebook-f"></a>
              <a href="#" class="fab fa-twitter"></a>
              <a href="#" class="fab fa-instagram"></a>
              <a href="#" class="fab fa-linkedin"></a>
            </div>
            <h3>Joohi</h3>
          </div>
        </div>

        <div class="swiper-pagination"></div>
      </div>
    </section>

    <!-- teachers section ends -->

    <!-- reviews section starts  -->

    <section class="reviews" id="reviews">
      <h1 class="heading">student's <span>reviews</span></h1>

      <div class="swiper reviews-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide slide">
            <p>
              Dhruv Sai Reddy, a class 7 student, is a car designer, author and
              an occasional rapper. He credits Virtual Abhyas for helping him
              learn Science and Maths better,and he thanked
            </p>
            <div class="user">
              <img src="/css/images/pic-1.png" alt="" />
              <div class="user-info">
                <h3>Rakesh thk</h3>
                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide slide">
            <p>
              Dawa Prajjwal sth, a class 7 student, is a car designer, author
              and an occasional rapper. He credits Virtual Abhyas for helping
              him learn Science and Maths better.
            </p>
            <div class="user">
              <img src="/css/images/pic-2.png" alt="" />
              <div class="user-info">
                <h3>Sanjana</h3>
                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide slide">
            <p>
              Dhruv Sai Reddy, a class 7 student, is a car designer, author and
              an occasional rapper. He credits Virtual Abhyas for helping him
              learn Science and Maths better,and he thanked
            </p>
            <div class="user">
              <img src="/css/images/pic-3.png" alt="" />
              <div class="user-info">
                <h3>Sivansh</h3>
                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide slide">
            <p>
              Dhruv Sai Reddy, a class 7 student, is a car designer, author and
              an occasional rapper. He credits Virtual Abhyas for helping him
              learn Science and Maths better,and he thanked
            </p>
            <div class="user">
              <img src="/css/images/pic-4.png" alt="" />
              <div class="user-info">
                <h3>Pinky</h3>
                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide slide">
            <p>
              Teku dan lama, a class 7 student, is a car designer, author and an
              occasional rapper. He credits Virtual Abhyas for helping him learn
              Science and Maths better,and he thanked
            </p>
            <div class="user">
              <img src="/css/images/pic-5.png" alt="" />
              <div class="user-info">
                <h3>Denim Jha</h3>
                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide slide">
            <p>
              Balendra shah, a class 8 student, is a car designer, author and an
              occasional rapper. He credits Virtual Abhyas for helping him learn
              Science and Maths better,and he thanked
            </p>
            <div class="user">
              <img src="/css/images/pic-6.png" alt="" />
              <div class="user-info">
                <h3>Balen</h3>
                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-pagination"></div>
      </div>
    </section>

    <!-- reviews section ends -->

    <!-- contact section starts  -->

    <section class="contact" id="contact">
      <h1 class="heading"><span>contact</span> us</h1>

      <div class="row">
        <div class="image">
          <img src="/css/images/contact-img.svg" alt="" />
        </div>

        <form action="" method="post" onsubmit="submitForm(event)">
          <span>your name</span>
          <input
            type="text"
            required
            placeholder="enter your full name"
            maxlength="50"
            name="name"
            class="box"
          />
          <span>your email</span>
          <input
            type="email"
            required
            placeholder="enter your valie email"
            maxlength="50"
            name="email"
            class="box"
          />
          <span>your number</span>
          <input
            type="number"
            required
            placeholder="enter your valie number"
            max="9999999999"
            min="0"
            name="number"
            class="box"
            onkeypress="if(this.value.length == 10) return false;"
          />
          <span>select course</span>
          <select name="couses" class="box" required>
            <option value="" disabled selected>select the course --</option>
            <option value="web developement">English Language</option>
            <option value="science and biology">Basic Sciences</option>
            <option value="engineering">Mathematics</option>
            <option value="digital marketing">Communication Skills</option>
            <option value="graphic design">Computer Skills</option>
            <option value="teaching">Nepali</option>
            <option value="social studies">Social Studies</option>
          </select>
          <span>select gender</span>
          <div class="radio">
            <input type="radio" name="gender" value="male" id="male" />
            <label for="male">male</label>
            <input type="radio" name="gender" value="female" id="female" />
            <label for="female">female</label>
          </div>
          <input type="submit" value="send message" class="btn" name="send" />
        </form>
      </div>

      <div id="confirmation-message" style="display: none;">

       </div>
   
       <script>
         function submitForm(event) {
           event.preventDefault(); // Prevent the form from submitting the traditional way
   
           // Your form submission logic here (e.g., using Fetch API or XMLHttpRequest)
   
           // Display the confirmation message using alert
           alert("Message sent! Thank you.");
   
           // Reload the page after the alert is dismissed
           location.reload();
         }
       </script>

    </section>

    <!-- contact section ends -->

    <!-- footer section starts  -->

    <footer class="footer">
      <section>
        <div class="share">
          <a href="#" class="fab fa-facebook-f"></a>
          <a href="#" class="fab fa-twitter"></a>
          <a href="#" class="fab fa-linkedin"></a>
          <a href="#" class="fab fa-instagram"></a>
          <a href="#" class="fab fa-youtube"></a>
        </div>
      </section>
    </footer>
    <!-- footer section ends -->

    <!-- swiper js link  -->
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script src="/css/script.js"></script>
  </body>
</html>
